<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Data Source -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost/spring?useUnicode=true&amp;characterEncoding=utf8</value>
		</property>
		<property name="username">
			<value>springuser</value>
		</property>
		<property name="password">
			<value>springpassword</value>
		</property>
	</bean>

	<!-- Shop -->
	<bean id="shopService" class="logic.ShopImpl">
		<property name="userCatalog">
			<ref bean="userCatalog" />
		</property>
	</bean>

	<!-- UserCatalog -->
	<bean id="userCatalog" class="logic.UserCatalogImpl">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>

	<!-- UserDao -->
	<bean id="userDao" class="dao.UserDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<!-- Validator -->
	<bean id="userEntryValidator" class="utils.UserEntryValidator" />
	
	<!-- MessageSource -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>
	</bean>
</beans>